.main {
    height: 100vh;
    background-color: #191919;
    color: #757575;
}

.mainContainer {
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo {
    width: 200px;
    min-height: 300px;
    border-radius: 10px;
}

.description {
    background-color: #191919;
    color: #fff;
    font-family: 'Pattaya';
    font-size: 25px;
}
