@import "../../../sass/variables";

.project {
  width: 400px;
  background-color: $bgColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow:hidden;
  margin: 5px;

  .image {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    &:hover {
      opacity: 0.6;
      transition: 0.5s;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .view {
      min-height: 40px;
      width: 100px;
      background-color: $bgColor2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      opacity: 0.6;
      color: $textColor;
      &:hover{
        opacity: 0.9;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .titleContainer {
    padding: 20px 15px;

    .title {
      padding-bottom: 10px;
      font-family: "Agency FB", monospace;
      font-size: 25px;
    }
  }
}










