.footer {
    min-height: inherit;
    background-color: #6c1143;
}
.footerContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links {
    width: 280px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.link {
    min-height: 50px;
    width: 50px;
    background-color: darkkhaki;
}