@import "src/sass/variables";

.contacts {
  height: 80vh;
  background-color: $bgColor2;
  @media screen and (max-height: 375px) {
    height: 100vh;
  }

  .contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .form {
      display: flex;
      flex-direction: column;

      & input, textarea {
        width: 600px;
        background: #252527 !important;
        border: 1px solid #4a4a4a;
        font-size: 12px;
        padding: 15px 15px;
        margin-bottom: 10px;
        border-radius: 0;
        color: #fd4766;
        letter-spacing: 2px;
        @media screen and (max-width: 620px) {
          width: 280px;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }
      -webkit-text-fill-color: $textColor !important;
    }

    .sendBtn {
      min-height: 30px;
      width: 100px;
      background: $titleColor;
      border-radius: 5px;
      color: $textColor;
      cursor: pointer;
      &:hover {
        animation: bounce 1s;
      }
    }
    .btnWrap{
      text-align: center;
    }

  }
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
