@import "src/sass/variables";

.contacts {
  height: 60vh;
  background-color: $bgColor2;
  @media screen and (max-height: 375px) {
    height: 100vh;
  }

  .contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .form {
      display: flex;
      flex-direction: column;

      & input, textarea {
        width: 600px;
        background: #252527 !important;
        border: 1px solid #4a4a4a;
        font-size: 12px;
        padding: 15px 15px;
        margin-bottom: 10px;
        border-radius: 0;
        @media screen and (max-width: 620px) {
          width: 280px;
        }
      }
    }
    .sendBtn {
      min-height: 30px;
      width: 100px;
      background:$titleColor;
      border-radius: 5px;
      color: $textColor;
      cursor: pointer;
    }
  }
}
